.search-input {
    margin-left: -5px;
}

.background-column {
    margin: 5px;
    width: calc(33.33% - 31.25%);
    min-width: 250px;

    .card {
        width: 100%;
    }

    .btn {
        border-radius: 0px;
    }
}

.fa-times-circle {
    font-size: 1.3em;
    margin: 10px;
    margin-right: 15px;
}