.search-input {
    margin-left: -5px;
}

.background-column {
    margin: 5px;
    width: calc(33.33% - 31.25%);
    min-width: 250px;

    .card {
        width: 100%;
        img {
            max-width:100%;
            max-height:300px;
            width: auto;
            height: auto;
            object-fit: cover;
        }
    }

    .btn {
        border-radius: 0px;
    }
}