<div class="container margin-top">
    <div class="d-flex justify-content-end">
        <form [formGroup]="pesquisarFormGroup" class="d-flex">
            <i *ngIf="this.pesquisarFormGroup.get('nome').value" (click)="listar(true)"
                class="fas fa-times-circle pointer primary-hover"></i>
            <div class="form-group">
                <input formControlName='nome' type="text" class="form-control search-input" id="exampleInputName"
                    aria-describedby="nomeHelp" placeholder="Pesquisar">
            </div>
            <ngx-alerts></ngx-alerts>
        </form>
    </div>
    <div class="background-row d-flex flex-row flex-wrap">
        <div *ngFor="let jogo of games" class="background-column d-flex flex-column flex-fill">
            <div class="card bg-dark text-white pointer" (click)="getJogo(jogo.id, jogo.nome)">
                <img class="card-img-top" src="{{ jogo.fullPath | hasImage }}" alt="Imagem de capa do card">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="name">
                        <span>{{ jogo.nome }}</span>
                    </div>
                    <div class="price align-self-end">
                        <span>{{ jogo.preco | currency:'BRL' }}</span>
                    </div>
                </div>
            </div>
            <button *ngIf="currentUrl == '/loja/biblioteca'" appHighPermissions type="button" class="btn btn-danger"
                (click)="onClickExcluir(jogo.id, jogo.nome)">EXCLUIR</button>
        </div>
    </div>
</div>