<div class="container">
    <div class="card-bg d-flex flex-column justify-content-center align-items-center">
        <div class="card bg-dark">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <img class="logo" src="../../../../assets/images/logo.png" alt="">
                <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmitToLogin()">
                    <label for="exampleInputEmail1">Entrar</label>
                    <div class="form-group">
                        <input formControlName='user' type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Endereço de e-mail/nickname">
                        <app-error-card
                            *ngIf="loginFormGroup.get('user').hasError('required') && loginFormGroup.get('user').touched"
                            [mensagem]="'O campo e-mail/nickname é obrigatório'"></app-error-card>
                        <app-error-card
                            *ngIf="loginFormGroup.get('user').hasError('maxlength') && loginFormGroup.get('user').touched"
                            [mensagem]="'O campo e-mail/nickname precisar ter no mínimo 3 caracteres'">
                        </app-error-card>
                        <app-error-card
                            *ngIf="loginFormGroup.get('user').hasError('maxlength') && loginFormGroup.get('user').touched"
                            [mensagem]="'O campo e-mail/nickname só pode ter no máximo 150 caracteres'">
                        </app-error-card>
                    </div>
                    <div class="form-group">
                        <input formControlName='senha' type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Senha">
                        <app-error-card
                            *ngIf="loginFormGroup.get('senha').hasError('required') && loginFormGroup.get('senha').touched"
                            [mensagem]="'O campo senha é obrigatório'"></app-error-card>
                        <app-error-card
                            *ngIf="loginFormGroup.get('senha').hasError('minlength') && loginFormGroup.get('senha').touched"
                            [mensagem]="'O campo senha precisar ter no mínimo 6 caracteres'">
                        </app-error-card>
                        <app-error-card
                            *ngIf="loginFormGroup.get('senha').hasError('maxlength') && loginFormGroup.get('senha').touched"
                            [mensagem]="'O campo senha só pode ter no máximo 70 caracteres'">
                        </app-error-card>
                    </div>
                    <button type="submit" [disabled]='!loginFormGroup.valid'
                        class="btn btn-primary float-right">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>