.card-bg {
    height: calc(100vh - 15vh);
    margin: 20px;

    .card {
        width: 65%;
        min-width: 320px;
        padding: 10px;

        form {
            width: 100%;

            .btn-primary {
                width: 100%;
            }
        }
    }
}