<div class="container margin-top">
    <div class="d-flex flex-column">
        <h1 class="config">HISTÓRICO DE COMPRAS</h1>
    </div>
    <br><br>
    <div class="background-row d-flex flex-column flex-wrap justify-content-center">
        <div *ngFor="let historic of historicsForm" class="card bg-dark text-white">
            <div class="card-body d-flex flex-column justify-content-between">
                <div *ngFor="let h of historic; let i = index">
                    <div *ngIf="i === 0" class="name">
                        <h3>Código {{ h.codigoCompra }}</h3>
                    </div>
                    <div class="priced d-flex flex-column">
                        <!-- <br *ngIf="i !== 0 && i !== historic.length - 1"> -->
                        <div class="d-flex flex-wrap">
                            <span class="game">Jogo - {{ h.jogoNome }}</span>
                            <span>Preço - {{ h.precoJogo | currency:'BRL' }}</span>
                        </div>
                        <span *ngIf="i >= historic.length - 1"><br> Data da compra - {{ h.dataCompra }} <br> Total -
                            {{ h.totalCompra | currency:'BRL' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column">
        <h1 class="config">DASHBOARD DE COMPRAS</h1>
    </div>
    <br><br>
    <div class="chart">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
            [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
        </canvas>
    </div>
</div>