<div class="container margin-top">
    <div class="table-responsive">
        <table class="table table-dark bg-dark">
            <caption>Seu histórico de compras na DELM ®.</caption>
            <thead>
                <div>
                    <tr>
                        <th class="primary">Código</th>
                        <th class="primary" [ngStyle]="{'color': 'blue'}">Data</th>
                        <th class="primary" [ngStyle]="{'color': 'green'}">Jogo</th>
                        <th class="primary" [ngStyle]="{'color': 'yellow'}">Preço</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="primary" [ngStyle]="{'color': 'red'}">Total</th>
                    </tr>
                </div>
            </thead>
            <tbody>
                <tr appTableHover *ngFor="let historic of historicsForm">
                    <div *ngFor="let h of historic; let i = index">
                        <td class="primary">{{ h.codigoCompra }}</td>
                        <td class="primary" [ngStyle]="{'color': 'blue'}">{{ h.dataCompra }}</td>
                        <td class="primary" [ngStyle]="{'color': 'green'}">{{ h.jogoNome }}</td>
                        <td></td>
                        <td class="primary" [ngStyle]="{'color': 'yellow'}">{{ h.precoJogo | currency:'BRL' }}</td>
                        <td></td>
                        <td *ngIf="i >= historic.length - 1" class="primary" [ngStyle]="{'color': 'red'}">
                            {{ h.totalCompra | currency:'BRL' }}</td>
                        <td *ngIf="i < historic.length - 1"></td>
                    </div>
                    <br>
                </tr>
            </tbody>
        </table>
        <ngx-alerts></ngx-alerts>
    </div>

    <div>
        <div>
            <div class="chart">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                    [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors"
                    [legend]="pieChartLegend">
                </canvas>
            </div>
        </div>
    </div>
</div>