<div class="container margin-top">
    <div class="table-responsive">
        <table class="table table-dark bg-dark">
            <caption>Seu histórico de compras na DELM ®.</caption>
            <thead>
                <tr>
                    <th class="primary">Data</th>
                    <th class="primary">Jogo</th>
                    <th class="primary">Preço</th>
                    <th class="primary">Saldo</th>
                </tr>
            </thead>
            <tbody>
                <tr appTableHover>
                    <td class="primary">24/09/2019</td>
                    <td class="primary">Call of Duty</td>
                    <td class="primary">R$ 19,99</td>
                    <td class="primary">R$ 39,50</td>
                </tr>
            </tbody>
            <tbody>
                <th>Total</th>
                <td></td>
                <td></td>
                <td>R$ 19,99</td>
            </tbody>
        </table>
        <ngx-alerts></ngx-alerts>
    </div>
</div>