<div class="container margin-top" *ngIf="user">
    <div class="d-flex flex-column">
        <h1 class="config">CONFIGURAÇÕES GERAIS</h1>
        <span>Gerencie os detalhes da conta que você compartilhou com a DELM ®, incluindo seu nome, informações
            de
            contato e mais...</span>
    </div>
    <br><br>

    <!-- Informações da conta -->
    <form class="d-flex flex-column" [formGroup]="userFormGroup" (ngSubmit)="onSubmitToEdit()">
        <h3>INFORMAÇÕES DA CONTA</h3>
        <div class="d-flex flex-column mb-3">
            <div>
                <span><i class="fas fa-wallet i-left"></i> Saldo: {{ user.saldo }}</span>
            </div>
            <div>
                <span><i class="fas fa-calendar-alt i-left"></i> Data de criação: {{ user.dataCriacao }}</span>
            </div>
            <div>
                <span class="pointer"><i class="fas fa-search-dollar i-left"></i> Ver histórico de compras</span>
            </div>
        </div>
        <div class="form-group">
            <input formControlName='nickname' type="text" class="form-control" id="exampleInputNickname"
                aria-describedby="nickNameHelp" placeholder="Nome para exibição">
            <app-error-card
                *ngIf="userFormGroup.get('nickname').hasError('required') && userFormGroup.get('nickname').touched"
                [mensagem]="'O campo nickname é obrigatório'"></app-error-card>
            <app-error-card
                *ngIf="userFormGroup.get('nickname').hasError('minlength') && userFormGroup.get('nickname').touched"
                [mensagem]="'O campo nickname precisar ter no mínimo 5 caracteres'"></app-error-card>
            <app-error-card
                *ngIf="userFormGroup.get('nickname').hasError('maxlength') && userFormGroup.get('nickname').touched"
                [mensagem]="'O campo nickname só pode ter no máximo 50 caracteres'"></app-error-card>
        </div>
        <div class="form-group">
            <input formControlName='nome' type="text" class="form-control" id="exampleInputName1"
                aria-describedby="nameHelp" placeholder="Nome real">
            <app-error-card *ngIf="userFormGroup.get('nome').hasError('required') && userFormGroup.get('nome').touched"
                [mensagem]="'O campo nome é obrigatório'"></app-error-card>
            <app-error-card *ngIf="userFormGroup.get('nome').hasError('maxlength') && userFormGroup.get('nome').touched"
                [mensagem]="'O campo nome só pode ter no máximo 120 caracteres'"></app-error-card>
        </div>
        <div class="form-group">
            <input formControlName='email' type="email" class="form-control" id="exampleInputEmail"
                aria-describedby="emailHelp" placeholder="Endereço de e-mail">
            <app-error-card
                *ngIf="userFormGroup.get('email').hasError('required') && userFormGroup.get('email').touched"
                [mensagem]="'O campo e-mail é obrigatório'"></app-error-card>
            <app-error-card *ngIf="userFormGroup.get('email').hasError('email') && userFormGroup.get('email').touched"
                [mensagem]="'O formato e-mail está incorreto'"></app-error-card>
            <app-error-card
                *ngIf="userFormGroup.get('email').hasError('maxlength') && userFormGroup.get('email').touched"
                [mensagem]="'O campo e-mail só pode ter no máximo 150 caracteres'"></app-error-card>
        </div>
        <div class="form-check">
            <input formControlName='enable' class="form-check-input" type="checkbox" [value]="user.enable"
                id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Desativar contar
            </label>
        </div>
        <ngx-alerts></ngx-alerts>
        <button type="submit" [disabled]='!userFormGroup.valid || loading == true'
            class="btn btn-primary float-right">EDITAR <i *ngIf="loading == true"
                class="fas fa-spinner fa-pulse i-right"></i></button>
    </form>
    <br><br>

    <!-- Senhas -->
    <form class="d-flex flex-column" [formGroup]="changePasswordFormGroup" (ngSubmit)="onSubmitToChangePassword()">
        <h3>TROCAR SENHA</h3>
        <div class="form-group">
            <input formControlName='senhaAntiga' type="password" class="form-control" id="exampleInputPassword1"
                placeholder="Senha antiga">
            <app-error-card
                *ngIf="changePasswordFormGroup.get('senhaAntiga').hasError('required') && changePasswordFormGroup.get('senhaAntiga').touched"
                [mensagem]="'O campo senha antiga é obrigatório'"></app-error-card>
            <app-error-card
                *ngIf="changePasswordFormGroup.get('senhaAntiga').hasError('minlength') && changePasswordFormGroup.get('senhaAntiga').touched"
                [mensagem]="'O campo senha antiga precisar ter no mínimo 6 caracteres'"></app-error-card>
            <app-error-card
                *ngIf="changePasswordFormGroup.get('senhaAntiga').hasError('maxlength') && changePasswordFormGroup.get('senhaAntiga').touched"
                [mensagem]="'O campo senha antiga só pode ter no máximo 70 caracteres'"></app-error-card>
        </div>
        <div class="form-group">
            <input formControlName='senhaNova' type="password" class="form-control" id="exampleInputPassword2"
                placeholder="Senha nova">
            <app-error-card
                *ngIf="changePasswordFormGroup.get('senhaNova').hasError('required') && changePasswordFormGroup.get('senhaNova').touched"
                [mensagem]="'O campo senha nova é obrigatório'"></app-error-card>
            <app-error-card
                *ngIf="changePasswordFormGroup.get('senhaNova').hasError('minlength') && changePasswordFormGroup.get('senhaNova').touched"
                [mensagem]="'O campo senha nova precisar ter no mínimo 6 caracteres'"></app-error-card>
            <app-error-card
                *ngIf="changePasswordFormGroup.get('senhaNova').hasError('maxlength') && changePasswordFormGroup.get('senhaNova').touched"
                [mensagem]="'O campo senha nova só pode ter no máximo 70 caracteres'"></app-error-card>
        </div>
        <div class="form-group">
            <input formControlName='senhaNovaConfirmar' type="password" class="form-control"
                id="exampleInputPasswordConfirm" placeholder="Confirmar senha nova">
            <app-error-card
                *ngIf="changePasswordFormGroup.get('senhaNovaConfirmar').hasError('required') && changePasswordFormGroup.get('senhaNovaConfirmar').touched"
                [mensagem]="'O campo confirmar senha nova é obrigatório'"></app-error-card>
            <app-error-card
                *ngIf="changePasswordFormGroup.get('senhaNovaConfirmar').hasError('minlength') && changePasswordFormGroup.get('senhaNovaConfirmar').touched"
                [mensagem]="'O campo confirmar senha nova precisar ter no mínimo 6 caracteres'"></app-error-card>
            <app-error-card
                *ngIf="changePasswordFormGroup.get('senhaNovaConfirmar').hasError('maxlength') && changePasswordFormGroup.get('senhaNovaConfirmar').touched"
                [mensagem]="'O campo confirmar senha nova só pode ter no máximo 70 caracteres'"></app-error-card>
        </div>
        <button type="submit" [disabled]='!changePasswordFormGroup.valid'
            class="btn btn-primary float-right">TROCAR</button>
    </form>
</div>