// Custom.scss
// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";

// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";

// Your variable overrides
$body-bg: #252525;
$body-color: #fff;

// Theme overrides
$theme-colors: ("primary": #007BFF,
  "secondary": #6C757D,
  "success": #28A745,
  "danger": #ff4136,
  "warning": #FFC107,
  "info": #17A2B8,
  "light": #FFFFFF,
  "dark": #505050, "darkness": #252525);

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";