<div class="container">
    <div class="card-bg d-flex flex-column justify-content-center align-items-center">
        <div class="card bg-dark">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <img class="logo" src="../../../../assets/images/logo.png" alt="">
                <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmitToLogin()">
                    <label for="exampleInputEmail1">Entrar</label>
                    <div class="form-group">
                        <input formControlName='user' type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Endereço de e-mail">
                    </div>
                    <div class="form-group">
                        <input formControlName='senha' type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Senha">
                    </div>
                    <button type="submit" [disabled]='!loginFormGroup.valid'
                        class="btn btn-primary float-right">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>