<!-- Footer -->
<footer class="page-footer font-small bg-dark margin-top">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 d-flex flex-column justify-content-center">
        <div class="logo">
            <img src="../../../../assets/images/logo - sem nome.png" alt="">
        </div>
        <div class="footer-text">
            © 2019, DELM, Inc. Todos os direitos reservados. <br>
            Outras marcas e nomes de produtos são marcas registradas de
            seus respectivos donos, mas qualquer transação possui natureza ficticia.
        </div>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->