<div class="container margin-top">
    <div class="d-flex justify-content-end">
        <form [formGroup]="pesquisarFormGroup" class="d-flex">
            <i *ngIf="this.pesquisarFormGroup.get('nome').value" (click)="listar(true)"
                class="fas fa-times-circle pointer primary-hover"></i>
            <div class="form-group">
                <input formControlName='nome' type="text" class="form-control search-input" id="exampleInputName"
                    aria-describedby="nomeHelp" placeholder="Pesquisar">
            </div>
            <ngx-alerts></ngx-alerts>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-dark bg-dark">
            <caption>Lista de usuários - veja a biblioteca de jogos deles.</caption>
            <thead>
                <tr>
                    <th scope="col">Nickname</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" (click)="redirecionarParaUsuario(user.id)" appTableHover>
                    <td>{{ user.nickname }}</td>
                    <td>{{ user.nome }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>