<div class="container margin-top">
    <div class="card-bg">
        <div class="card bg-dark">
            <div class="card-body d-flex flex-row justify-content-around flex-wrap">
                <div class="item empty-img-item">
                    <img width="200px" src="../../../../assets/images/sacola.png" alt="">
                </div>
                <div class="item empty-text-item align-self-center">
                    <p>
                        Sua sacola está vazia <br>
                        Vá para a página loja e procure por jogos que vão te deixar feliz. <br>
                        Quando encontrá-los, clique no jogo e na próxima página clique em adicionar na sacola <i
                            class="fas fa-smile-beam i-left"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>