@import "./app/scss/my-theme.scss";

:root {
    --primary: #007BFF;
    --dark: #505050;
}

body,
html,
a {
    margin: 0;
    text-decoration: none !important;
}

.margin-top {
    margin-top: 20px;
}

.card {
    border-radius: 0;
}

form {
    .form-control {
        background: #707070;
        border-radius: 0;
        border: none;
        color: #fff;
    }

    .input-group>.form-control:not(:last-child),
    .input-group>.custom-select:not(:last-child) {
        background: #707070;
        border-radius: 0;
        border: none;
        color: #fff;
    }

    .input-group {
        margin-bottom: 15px;
    }

    .form-control::placeholder {
        color: rgba($color: #fff, $alpha: 0.80);
    }
}