<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="../../../../assets/images/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar"
        aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
        <ul class="navbar-nav mr-auto bg-dark">
            <li class="nav-item active">
                <a [routerLink]="['/loja']" class="nav-link nav-default-button" href="#"><span
                        class="nav-left-button">LOJA</span></a>
            </li>
        </ul>
        <div
            class="d-flex flex-column justify-content-center align-items-center navbar-text nav-default-button nav-button bg-dark text-light">
            <a [routerLink]="['/login']" routerLinkActive="router-link-active">LOGIN</a>
        </div>
        <div
            class="d-flex flex-column justify-content-center align-items-center navbar-text nav-default-button nav-button bg-primary text-light">
            <a>CADASTRO</a>
        </div>
    </div>
</nav>