<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/loja']"><img src="../../../../assets/images/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar"
        aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
        <ul class="navbar-nav mr-auto bg-dark">
            <li class="nav-item" routerLinkActive="active">
                <div
                    class="d-flex flex-column justify-content-center align-items-center navbar-text nav-default-button nav-button bg-dark text-light">
                    <a [routerLink]="['/loja']"><i class="fas fa-shopping-cart i-left"></i> LOJA</a>
                </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
                <div
                    class="community d-flex flex-column justify-content-center align-items-center navbar-text nav-default-button nav-button bg-dark text-light">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        COMUNIDADE
                    </a>
                    <div class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdown">
                        <a [routerLink]="['/comunidade/usuarios']" routerLinkActive="active-dropdown"
                            class="dropdown-item"><i class="fas fa-users i-left"></i> USUÁRIOS</a>
                    </div>
                </div>
            </li>
            <li *ngIf="authenticationService.isAdministrador()" class="nav-item dropdown" routerLinkActive="active">
                <div
                    class="d-flex flex-column justify-content-center align-items-center navbar-text nav-default-button nav-button bg-dark text-light">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        DASHBOARD
                    </a>
                    <div class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdown">
                        <a [routerLink]="['/dashboard/cadastro-admin']" routerLinkActive="active-dropdown"
                            class="dropdown-item"><i class="fas fa-user-plus i-left"></i> CADASTRAR USUÁRIO</a>
                        <a [routerLink]="['/dashboard/cadastro-jogo']" routerLinkActive="active-dropdown"
                            class="dropdown-item"><i class="fas fa-plus i-left"></i> CADASTRAR JOGO</a>
                        <a [routerLink]="['/dashboard/jogos']" routerLinkActive="active-dropdown"
                            class="dropdown-item"><i class="fas fa-th-list i-left"></i> LISTAR JOGOS</a>
                        <a [routerLink]="['/dashboard/cadastro-categoria']" routerLinkActive="active-dropdown"
                            class="dropdown-item"><i class="fas fa-plus i-left"></i> CADASTRAR CATEGORIA</a>
                        <a [routerLink]="['/dashboard/categorias']" routerLinkActive="active-dropdown"
                            class="dropdown-item"><i class="fas fa-th-list i-left"></i> LISTAR CATEGORIAS</a>
                    </div>
                </div>
            </li>
        </ul>
        <div *ngIf="authenticationService.isLogado()"
            class="d-flex flex-column justify-content-center align-items-center navbar-text nav-default-button nav-button bg-dark text-light"
            routerLinkActive="active">
            <a [routerLink]="['/shopping-cart']"><i class="fas fa-shopping-bag"></i> <span
                    class="qtd">{{ qtdJogos }}</span></a>
        </div>
        <div *ngIf="authenticationService.isLogado()"
            class="d-flex flex-column justify-content-center align-items-center navbar-text nav-default-button nav-button bg-dark text-light"
            routerLinkActive="active">
            <a *ngIf="this.nickname" [routerLink]="['/perfil/id/', this.nickname]"><i class="fas fa-user i-left"></i>
                {{ this.nickname.substring(0, 8) }}</a>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center navbar-text nav-default-button nav-button bg-dark text-light"
            routerLinkActive="active">
            <a [routerLink]="['/login']" *ngIf="!authenticationService.isLogado()">LOGIN <i
                    class="fas fa-sign-in-alt i-right"></i></a>
            <a [routerLink]="['/login']" *ngIf="authenticationService.isLogado()" (click)="sair()">SAIR <i
                    class="fas fa-sign-in-alt i-right"></i></a>
        </div>
        <div *ngIf="!authenticationService.isLogado()"
            class="d-flex flex-column justify-content-center align-items-center navbar-text nav-default-button nav-button bg-primary text-light"
            routerLinkActive="active-dark">
            <a [routerLink]="['/cadastro']">CADASTRO</a>
        </div>
    </div>
</nav>