nav {
    $nav-size: 75px;
    $button-width: 150px;
    $padding: 0 20px;

    padding: 0;

    img {
        padding: $padding;
        height: 50px;
    }

    .active::after {
        content: '';
        background: var(--primary);
        width: $button-width;
        height: 4px;
        display: block;
        position: absolute;
        bottom: 0px;
    }

    .active-dark::after {
        content: '';
        background: var(--dark);
        width: $button-width;
        height: 4px;
        position: absolute;
        bottom: 0px;
    }

    .nav-item {
        .nav-link {
            color: #fff;
        }

        .dropdown-menu {
            .dropdown-item:hover {
                background: var(--primary);
            }

            .active-dropdown {
                background: var(--primary);
            }
        }

    }

    @media (max-width: 991px) {
        .nav-left-button {
            align-content: center;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .active::after {
            content: '';
            background: transparent !important;
        }

        .active-dark::after {
            content: '';
            background: transparent !important;
        }
    }

    @media (min-width: 992px) {
        .community {
            margin-right: 20px;
        }
    }

    @media (min-width: 991px) {
        .nav-default-button {
            cursor: pointer;
        }

        div .nav-button {
            height: $nav-size;
            width: $button-width;
        }
    }

    .qtd {
        width: 100%;
        border-radius: 100%;
        padding-right: 6px;
        padding-left: 6px;
        margin-left: 5px;
        margin-top: 30px;
        padding-bottom: 0px;
        background: var(--secondary);
    }
    

    .fa-shopping-bag {
        font-size: 1.3em;
    }
}

.navbar-dark .navbar-toggler {
    margin: 20px;
}

.navbar-dark .navbar-text a {
    font-weight: bold;
}